<div class="vertical-center">
    <div class="jumbotron container text-center local">
        <div class="underConstruction">Muy pronto</div>
        <div class="feb2016">febrero 16 </div>
    </div>
</div>
